{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
<head>
<title>Inicio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  #sidebar {
    background: #f2f2f2;
  }

  .item-preview {
    box-shadow: rgba(0, 0, 0, .2) 1px 2px 2px;
    margin: 1em;
    padding: .8em;
  }

  .subnav {
    margin-left: 1em;
    border-left: 1px solid gray;
  }

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header class="page-header">
	<div class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src= "http://lims.ifpi.edu.br/images/logo.png" alt="some text" width=200 height=80>
            </div>
          </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- <a class="navbar-brand" href="#">.</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrincipal" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarPrincipal">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'root' %}">{{ user_logado.username }}</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                          </li>
                    </ul>
                </div>
              </nav>
        </div>
    </div>
 </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" id="sidebar">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'equipamentos' %}" >Equipamentos</a>
                    {% if user_logado.is_superuser %}
                      <ul class="nav flex-column nav-pills subnav">
                          <li class="nav-item">

                            <a class="nav-link" href="{% url 'adicionar_equipamento' %}">Adicionar</a>
                          </li>
                        </ul>
                    {% endif %}
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'emprestimos' %}" > Emprestimos </a>
                </li>
                {% if user_logado.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'painel_admin' %}" >Painel de controle </a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exibir_usuarios' %}" >Usuarios </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-9" style="padding: 1em;">
            {% block 'content' %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
