{% extends 'base.html' %}
{% block 'content' %}
    {% if emprestimos %}
      <table>
            <tr>
                <th>Nome</th>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Data Emprestimo</th>
                <th>Data Devolução</th>
            </tr>
          {% for emprestimo in emprestimos %}
              <tr>
                    <td> <a href="#" class="nome" > {{emprestimo.usuario.nome}} </a> </td>
                    <td>{{emprestimo.item.nome}}</td>
                    <td>{{emprestimo.quantidade}}</td>
                    <td>{{emprestimo.data_emprestimo}}</td>
                    <td>{{emprestimo.data_devolucao}}</td>
            </tr>
            {%endfor%}
      </table>
    {% else %}
        <p style="font-size: 30px; font-weight: bold; text-align:center">Nenhum emprestimo encontrado <br> :( </p>
    {% endif %}
{% endblock %}
