{% extends 'base.html' %}
{% block 'content' %}
<section>
  <nav class="lateral">
    <ul>
      <li> <button class="but2"> Emprestimo </button> </li>
    </ul>
  </nav>
  <article style="overflow-y:auto; overflow-x:auto;">
  <div class="tabela" style="overflow-y:auto; overflow-x:auto;">
    {% if emprestimos %}
      <table>
            <tr>
                <th>Nome</th>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Data Emprestimo</th>
                <th>Data Devolução</th>
            </tr>

          {% for emprestimo in emprestimos %}
              <tr>
                    <td> <a href="#" class="nome" > {{emprestimo.usuario.nome}} </a> </td>
                    <td>{{emprestimo.item.nome}}</td>
                    <td>{{emprestimo.quantidade}}</td>
                    <td>{{emprestimo.data_emprestimo}}</td>
                    <td>{{emprestimo.data_devolucao}}</td>
            </tr>
            {%endfor%}
      </table>
    {% else %}
        <p style="font-size: 30px; font-weight: bold; text-align:center">Nenhum emprestimo encontrado <br> :( </p>
    {% endif %}
  </div>
  </article>
</section>
{% endblock %}