
{% extends 'base.html' %}
{% block 'content' %}
<div class="conteudo" style="overflow-y:auto; overflow-x:auto;">

  {% if itens %}
    <h2 style="text-align:center">Todos os Equipamentos</h2>
          {% for item in itens %}
              <div class="card">
                  <a href="{% url 'equipamento' item.id %}">
  
                      <img class="item" src="{{ item.imagem.url }}" alt="{{ item.nome }}">
                  </a>
                <p class="nome">{{item.nome}} </p>
                <p class="price">Quantidade: {{ item.quantidade }}</p>
                <p><button class="pegar">Pegar</button></p>
              </div>
          {% endfor %}
  
      {% else %}
          <p style="font-size: 30px; font-weight: bold; text-align:center">Nenhum item encontrado <br> :( </p>
      {% endif %}
  
  </div>
  
{% endblock %}
