{% extends 'base.html' %}
{% block 'content' %}
    <div>
        <p>Solicitando equipamento: <b style="font-size: 20px;">{{ item.nome }}</b> </p>
        <p> Quantidade disponivel: <b style="font-size: 20px;">{{ item.quantidade }}</b></p>
        <form method="post" action=".">
            {% csrf_token %}
            <label for="qtd_item"> Quantidade:</label><br>
            <input id="qtd_item" type="number" name="quantidade" required minlength="1"><br>
            <label for="txt-area"> Descição:</label><br>
            <textarea id="txt-area" name="descicao" maxlength="255" minlength="10" style="min-width: 200px; max-width: 400px; max-height: 100px" required> </textarea><br>
            <button class="btn-success" type="submit"> Solicitar </button>
        </form>
        {% if messages %}
        <ul style="background-color: #ff786e; padding: 5px" >
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} style="display: inline">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

{% endblock %}