{% extends 'base.html' %}
{% block 'content' %}


    <div class="row justify-content-center align-items-center">

        <form method="post" action="." class="form-group border rounded" style="padding:20px; max-width: 400px; width:100%">
            <p>Solicitando equipamento: <b style="font-size: 20px;">{{ item.nome }}</b></p>
            <p> Quantidade disponivel: <b style="font-size: 20px;">{{ item.quantidade }}</b></p>

            {% csrf_token %}
            <label for="qtd_item"> Quantidade desejada:</label><br>
            <input class="form-control" id="qtd_item" type="number" name="quantidade" required min="1"
                   style="max-width: 400px"><br>
            <label for="txt-area"> Descrição da finalidade de uso:</label><br>
            <textarea class="form-control" id="txt-area" name="descricao" maxlength="255" minlength="10"
                      style="min-width: 20px; max-width: 400px; max-height: 100px; min-height: 100px"
                      required> </textarea><br>
            <button class="btn btn-lg btn-success" type="submit"> Solicitar</button>
            {% if messages %}
        <ul style="background-color: #ff786e; padding: 5px">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="display: inline">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </form>



    </div>



{% endblock %}