{% extends 'base.html' %}
{% block 'content' %}
    <style>
        a:link {
            text-decoration: none;

        }

    a.header-text{
        color: black;
    }
    a.header-text:hover{
        color: white;
    }

    </style>
    <br>
    {% if emprestimos %}
        <div class="row">
            {% for emprestimo in emprestimos %}
                <div class="col-sm-3">
                    <div class="card">
                        <h5 class="card-header" style=" background-color: #18b0ff">
                            <a class="header-text" href="{% url 'equipamento' emprestimo.equipamento.id %}"> {{ emprestimo.equipamento.nome }} </a>
                        </h5>
                        <div class="card-body">
                            <h6 class="card-text">Nome:<a href="{% url 'exibe_um_usuario' emprestimo.solicitante.id %}">
                                {{ emprestimo.solicitante.user.first_name }} {{ emprestimo.solicitante.user.last_name }} </a>
                            </h6>
                            <h6 class="card-text">Data: {{ emprestimo.data_emprestimo| date:"d/m/Y" }}</h6>
                            <p class="card-text">Quantidade: {{ emprestimo.quantidade }}</p>
                            <a href="{% url 'exibir_detalhes_emprestimo' emprestimo.id %}" class="btn btn-sm btn-primary">Visualizar</a>
                            <a href="{% url 'confirmar_visualicacao' emprestimo.id %}" class="btn btn-sm btn-warning">OK</a>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p style="font-size: 30px; font-weight: bold; text-align:center">Sem Notificações de empréstimos <br> :) </p>
    {% endif %}
    <div style="float: right">
        {% if emprestimos.paginator.count > 8 %}
            <ul class="pagination">
                {% if emprestimos.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ emprestimos.previous_page_number }}" tabindex="-1">
                            Anterior</a>
                    </li>
                {% endif %}
                {% for num in emprestimos.paginator.page_range %}
                    {% if emprestimos.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% elif num > emprestimos.number|add:'-3' and num < emprestimos.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if emprestimos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ emprestimos.next_page_number }}">Próximo</a>
                    </li>
                {% endif %}
            </ul>
            <br>
            <br>
        {% endif %}

    </div>

{% endblock %}