{% extends 'base.html' %}
{% block 'content' %}
    <div class="page-header">
        <br>
        <div class="btn-group float-right">
            {% if item.quantidade > 0 and item.excluido == 0 and item.tipo.id == 1 or user_logado.is_superuser %}
                <a class="btn btn-sm btn-success" href="{% url 'solicitar_emprestimo' item.id %}">Pegar</a>
            {% endif %}
            {% if user_logado.is_superuser %}
                <a class="btn btn-sm btn-light" href="{% url 'editar_equipamento' pk=item.id %}">Editar</a>
            {% endif %}
        </div>
        <span>Código: {{ item.id }}</span>
        <h2>{{ item.nome }}</h2>
    </div>
    <table class="table">
        <tr>
            <td>
                Quantidade disponivel:
            </td>
            <td>
                {{ item.quantidade }}
            </td>
        </tr>

        {% if item.tipo.id == 1 %}
            <tr>
                <td>
                    Quantidade emprestada:
                </td>
                <td>
                    {{ item.quantidade_emprestada }}
                </td>
            </tr>
            <tr>
                <td>
                    Quantidade descartada:
                </td>
                <td>
                    {{ item.quantidade_descartada }}
                </td>
            </tr>
            <tr>
                <td>
                    Tipo:
                </td>
                <td>
                    {{ item.tipo }}
                </td>
            </tr>
        {% endif %}
        {% if item.tipo.nome == "Permanente" %}
            <tr>
                <td>
                    Status:
                </td>

                <td>
                    {% if item.em_operacao %}
                        Sem problema
                    {% else %}
                        Com problema
                    {% endif %}

                </td>

            </tr>
            <tr>
                <td>
                    Código de tombamento:
                </td>
                <td>
                    {% if item.codigo_tombamento == '' %}
                        Sem Tombamento
                    {% else %}
                        {{ item.codigo_tombamento }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}


    </table>
    <br>
    <img style="width: 300px; height: 200px" src="{{ item.imagem.url }}" alt="Item">

    <div class="row">
        {% for emprestimo in emprestimos %}
            <div class="col-sm-3">
                <div class="card animate-hover">
                    <h5 class="card-header"><strong> {{ emprestimo.solicitante.full_name}}</strong>
                    </h5>
                    <div class="card-body">
                        <h6 class="card-text"> {{ emprestimo.data_emprestimo| date:"d/m/Y" }}</h6>
                        <p class="card-text">Quandidade: {{ emprestimo.quantidade }}</p>
                        <a href="{%  url 'exibir_detalhes_emprestimo' emprestimo.id %}" class="btn btn-sm btn-primary">Visualizar</a>
                    </div>
                </div>
                <br>
            </div>
        {% endfor %}
    </div>


{% endblock %}