{% extends 'base.html' %}
{% block 'content' %}
<div class="formu" style="overflow-y:auto;">
    <h3 style="margin-left: 20px; font-weight: bold; text-align: center">Adicionar Usuário</h3>
    <form action="." method="POST">
        {% csrf_token %}
        <label for="id_email">Email: </label>
        <input class="form-control" type="email" minlength="5" id="id_email" name="email" placeholder="Email@email.com *" required autofocus> <br>
        <label for="id_nome">Username:</label>
        <input class="form-control" minlength="5" type="text" id="id_nome" name="nome" placeholder="Nome *" required><br>
        <label for="id_first_name">Primeiro nome: </label>
        <input class="form-control" minlength="5  " type="text" id="id_first_name" name="first_name" placeholder="Primeiro nome *" required><br>
        <label for="id_last_name">Sobrenome: </label>
        <input class="form-control" minlength="5" type="text" id="id_last_name" name="last_name" placeholder="Sobrenome *" required><br>
        <label for="id_telefone">Telefone: </label>
        <input class="form-control" minlength="5" id="id_telefone" name="telefone" type="number" placeholder="Telefone *"
               required><br>
        <label for="id_senha">Senha: </label>
        <input class="form-control" minlength="5" type="password" id="id_senha" name="senha" placeholder="Senha *" required><br>
        <div style="text-align: center">
            <button class="btn btn-lg btn-primary" type="submit" value="OK"> Adicionar</button>
        </div>

        <br>
        <br>
        {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{form.non_field_errors}}
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}