{% extends 'base.html' %}
{% block 'content' %}
    <form method="post" action=".">
    {% csrf_token %}
        <label for="id_your_user"> Seu usuario: </label><br>
        <input id="id_your_user" name="your_user" placeholder="Seu username" required autofocus><br><br>

        <label for="id_pass_current"> Senha Atual: </label><br>
        <input type="password" id="id_pass_current" name="current_pass" placeholder="Senha atual" required autofocus><br><br>

        <label for="id_pass_new"> Nova Senha: </label><br>
        <input type="password" id="id_pass_new" placeholder="Senha Nova" name="new_pass" required autofocus><br><br>

        <button type="submit">Enviar</button>
    </form>
    {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{form.non_field_errors}}
            </div>
       {% endif %}

{% endblock %}

