{% extends 'base.html' %}
{% block 'content' %}
  {% if usuarios %}
  <ul class="list-unstyled">
    {% for usuario in usuarios %}
      <li class="media item-preview">
        <div class="media-body">
        <h5 class="nome">{{usuario.user.first_name}} {{ usuario.user.last_name }} </h5>
        <p class="price">Telefone: {{ usuario.telefone }}</p>
        <a class="btn btn-sm btn-primary"  href="{% url 'exibe_um_usuario' usuario.id %}">Visualizar</a>
      </div>
    </li>

    {% endfor %}
  </ul>
  {% else %}
    <p style="font-size: 30px; font-weight: bold; text-align:center">Nenhum usuario encontrado <br> :( </p>
  {% endif %}
{% endblock %}